.App{
    background-color:ghostwhite
}
.counter{
    background-color:beige
}
.title{
    text-align: center;
    padding-top: 10vh;
}
.counterValue{
    padding-left: 10vh;
    padding-right: 10vh;
}
.display{
    padding-top: 20vh;
    display: flex;
    justify-content: center;
    padding-bottom: 15vh;
}